@{
    ViewBag.Title = "About";
}

@* instead of on the top we prefer lines at the bottom of each table row *@
<style>
.table th,
.table td {
  border-top: 0px;
  border-bottom: 1px solid #dddddd;
}
</style>

<div class="row row-first box-noborder">
    <div class="span3">
        <img src="/images/thumbnails/AD_TBDSouthwest1.jpg" alt="" style="padding: 10px 5px 5px 10px;" />
    </div>
    <div class="span9">
        <section>
        <div style="padding: 20px 140px  0 0 ;line-height:16pt;">
            <hgroup>
            <h3>Our behavior reflects our values: hard work, integrity and great customer service.</h3>
            </hgroup>
            <article>
            <p>
            Our behavior reflects our values: hard work, integrity and great customer service. 
            </p>
            <p>                
            Our values drive our behavior, and our behavior reflects our values … every day.<br /><br />
            </p>
            <p>
            <strong>Work:</strong><br />
            Hard work means working until the job is completed, not until the clock says it’s time to go. 
            It means we put in the effort necessary — doing the research, 
            being transparent in everything we do and measuring our results — to make our customers successful. 
            <br /><br />
            </p>
            <p>
            <strong>Integrity:</strong><br />
            Integrity means doing the right thing even when nobody’s looking.<br /><br />
            It means being transparent: sharing performance information with our employee-owners, 
            being upfront with costs and results with our customers, 
            and working in partnership with our vendors to ensure the best possible results. 
            Evidence that it's working? ITA Group has earned the highest Dun & Bradstreet® rating in the industry — 5A1.
            <br /><br />
            </p>
            <p>
            <strong>Customer Service:</strong><br />
            Great customer service means understanding our customer’s needs before trying to fulfill them, 
            and then doing whatever it takes to exceed the customer’s expectations so they can’t help but fall in love with ITA Group.
            <br /><br />
            </p>
            <p>
            <strong>Let’s talk loyalty:</strong><br />
            Want to learn how we work for you, demonstrating and delivering loyalty every day? Email us at drivenbyloyalty@itagroup.com.
            </p>
           <br /><br /><br />
           </article>
        </div>
        </section>
    </div>

</div>
